Library/
Temp/
Build/
Logs/
obj/
*.csproj
*.sln
UserSettings/
App/
App2/
App3/
*.appxsym
*.appx
*.appxbundle
*.msix
*.msixbundle
*.tgz
*.db
*.db-wal
*.db-shm
.vs/
Assets/StreamingAssets/gcp_key.json
*.FBX